@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
}



@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
    font-weight: 700;   
}




:root {
    --roxo-destaque: #9747ff;
    --roxo-hover: #8233e8;
    --offwhite: #ffffff;
    --grafite: #232323;
    --fundo-dark: #0e1014;
    --fundo-light: #0e1014;

}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--fundo-dark);
    color: var(--offwhite);
}


h1 {
    font-size: 64px;
    font-family: "Unbounded", sans-serif;
    text-align: center;
    margin-top: 60px;
}


p {
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}


.texto_destaque {
    color: var(--roxo-destaque);
}

a {
    display: block;
    color: var(--offwhite);
    text-decoration: none;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    background-color: var(--roxo-destaque);
    width: 340px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}


a:hover {
    background-color: var(--roxo-hover);
    transition: 0.3s;
}



.logo {
    display: block;
    width: 209.29px;
    height: 34px;
    margin: 75px 0px 0px 360px;

}

.img-produto {
    display: block;
    margin: 0 auto;
    height: 446px;
    width: 792px;
}



@media (max-width: 768px) {
   .logo {
        margin: 65px 0 0 60px;
    }

    p {
        width: 648px;
    }
   
}


@media (max-width: 375px) {
   .logo {
    margin: 32px 0 0 16px;
   }

   h1{
    font-size: 40px;
   }

   p{
    font-size: 20px;
    width: 340px;
   }

   a {
    font-size: 20px;
    width: 251px;
   }

   .img-produto {
    width: 340px;
    height: 230px;
   }
}


